./basic-scrapy-project/*
/Users/muhammadnurilhuda/Documents/Documents - MacBook Pro Muhammad/KULIAH (Magister)/Semester 2/Data Warehouse dan Intelijensi Bisnis/Final Project/basic-scrapy-project
./scraper/*
Extract.ipynb
test.ipynb
scraper.ipynb
cleaned_joblist.csv
Find-Jobs-Table-(20-March-2024)-Default-View-export-1710922756723.csv
Find-Jobs-Table-(22-March-2024)-Default-View-export-1711116498266.csv